<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Relecloud Galaxy Tours</title>
    <link rel="stylesheet" href="./assets/styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div class="nav-bar"></div>
    <h1>Relecloud Galaxy Tours</h1>

    <div id="app">
        <h2>{{ product.name }}</h2>
        <div>{{ product.description }}</div>
        <hr />

        <!-- Solo mostrará el formulario si la reserva no está completada. -->
        <form v-show="!booking.completed">
            <h2>Book now!</h2>
            <div class="row">
                <label for="product-cabin">Select class:</label>
                <!-- Aquí se mostrará el select con las opciones de cabina. -->
                <select id="product-cabin" v-model="booking.cabinIndex">
                    <!-- Aquí se realizará la iteración sobre las opciones de cabina. -->
                    <option v-for="(cabin, index) in product.cabins" :value="index">
                        {{ cabin.name }} $ {{ cabin.price.toLocaleString('en-US') }}
                    </option>
                </select>
            </div>
            <div class="row">
                <label for="notes">Notes:</label>
                <!-- v-model se utiliza para enlazar el valor del textarea con la propiedad notes de booking. -->
                <textarea v-model="booking.notes" rows="3"></textarea>
            </div>
            <div class="row">
                <!-- Directiva denominada v-on que puede enlazar a cualquier evento, como v-on:click. -->
                <!-- Para enlazar un evento de clic, puede usar el método abreviado de teclado @click. -->
                <button class="button" type="button" @click="bookCabin">Book now!</button>
            </div>
        </form>
        <!-- TODO: Add success display -->
        <div v-show="booking.completed">
            <h2 class="row">
                You are on your way!
            </h2>
            <div class="row">
                <div>Booking details:</div>
                <div>{{ bookingCabinDisplay }} </div>
                <div>Notes: {{ booking.notes }}</div>
            </div>
        </div>
        <img v-bind:src="product.image.src" v-bind:alt="product.image.description" :style="product.image.style" />
    </div>

    <script src="./index.js"></script>
    <script>
        app.mount('#app');
    </script>
</body>

</html>